@model CarViewModel



<a href="/car" class="return-link"><span style="font-size:180%">⟵</span> Retour</a>


<div class="car-details">

    <div class="__row">
        <img src="@Model.ImageUrl" alt="Car" />
        <div>
            @if(User.IsInRole("Admin"))
            {
                <p>Vous avez publié cette annonce, vous pouvez le :</p>
                <a href="/car/update/@Model.Id" class="update-link">modifer</a>
                <a href="/car/delete/@Model.Id" class="delete-link">supprimer</a>
            }

            <h3>@Model.Price€</h3>
            <p>@Model.Year</p>
            <p>@Model.Brand</p>
            <p>@Model.Model</p>
            <p>@Model.Finish</p>
        </div>
    </div>

</div>
