@model IEnumerable<CarViewModel>

<h2>Nos voitures</h2>

@if (User.IsInRole("Admin"))
{
    <a href="/car/create"class="btn-cta">+ Ajouter une voiture</a>
}


<div class="cars-container">
    @foreach (var car in Model)
    {
        <a href="/car/details/@car.Id" class="car">
            <img src="@car.ImageUrl" alt="Car" />
            <div>
                <h3>@car.Price€</h3>
                <p>@car.Year</p>
                <p>@car.Brand</p>
                <p>@car.Model</p>
                <p>@car.Finish</p>
            </div>
        </a>
    }
</div>