@model IEnumerable<CarViewModel>


@foreach (var car in Model)
{
    <div class="car">
        <div class="car-image">
            <img src="@car.ImageUrl" alt="Car" />
        </div>
        <div class="car-details">
            <h3>@car.Price</h3>
            <p>@car.Year</p>
            <p>@car.Brand</p>
            <p>@car.Model</p>
            <p>@car.Finish</p>
        </div>
    </div>
}